# Build
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual env
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/
.coverage
htmlcov/

# Type check
.mypy_cache/
.ruff_cache/
